@model IEnumerable<SUN2.Models.AspNetUsers>
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Administration";
}

@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()

    <br />
    <div id="ListHeader">
        <h2>Alle User verwalten</h2>
    </div>

    <div id="ListContainer">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                    (Achtung!)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.vorname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person.name)
                </th>
                <th style="color: #007BA8">
                    User-Rolle
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.vorname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.name)
                    </td>
                    <td>

                        @foreach (var item2 in item.AspNetRoles)
                        {

                            <label>
                                @item2.Name
                            </label>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("bearbeiten", "Edit", new { id = item.Id }) 
                    </td>
                </tr>
            }

        </table>
    </div>

}
else
{
    Response.Redirect("/Error/NotLoggedIn");
}
