@using SUN2.Models
@model LoginViewModel

<!-- CSS Einbindung-->
@Styles.Render("~/Content/css")
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



<div id="login-box">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="header"><h2>Log in</h2></div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.TextBoxFor(m => m.Email, new { @placeholder = "E-Mail" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

        <hr>
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe)


        <input type="submit" value="Login" class="button">
        


        @* Aktivieren Sie diese Option, nachdem Sie die Kontobestätigung für die Funktion zum Zurücksetzen des Kennworts aktiviert haben.
            <p>
                @Html.ActionLink("Kennwort vergessen?", "ForgotPassword")
            </p>*@
    }
</div>


<p id="login-NewUserLink">
    @Html.ActionLink("Als neuer Benutzer registrieren", "Register")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
