@model SUN2.Models.AbonnentenLehrstuhl

@{
    ViewBag.Title = "Details";
}

@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()

    <h2>Details</h2>

    <div>
        <h4>AbonnentenLehrstuhl</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.lehrstuhlid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lehrstuhlid)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.userid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
} else
{
    Response.Redirect("/Error/NotLoggedIn");
}
