@model IEnumerable<SUN2.Models.AboMitgliedModel>

@{
    ViewBag.Title = "Meine Gruppen und Lehrstühle";
}

<br />
<h2>Meine Gruppen & abonnierten Lehrstühle</h2>

@{ var zuordnung = ViewBag.zuordnung; }

<table class="table">
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.bezeichnung)

        </th>
        <th>

            @Html.DisplayNameFor(model => model.beschreibung)

        </th>
        <th>

            @Html.DisplayNameFor(model => model.verantwortlicher)

        </th>



    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{

                    if (item.typ == "g")
                    {
                        <a href="@Url.Action("Index", "GruppenEintraege", new { gruppenid = item.id }, null)">
                            @Html.DisplayFor(modelItem => item.bezeichnung)
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "LehrstuhlEintraege", new { lehrstuhlid = item.id }, null)">
                            @Html.DisplayFor(modelItem => item.bezeichnung)
                        </a>
                    }
                }



            </td>
            <td>
                @Html.DisplayFor(modelItem => item.beschreibung)
            </td>
            <td>
                @{
                    if (zuordnung != null)
                    {
                        foreach (var person in zuordnung)
                        {
                            if (person.name == item.verantwortlicher)
                            {
                                <a href="@Url.Action("Details", "Person", new { id = person.id }, null)">
                                    @Html.DisplayFor(model => item.verantwortlicher)
                                </a>
                                break;
                            }
                        }
                    }

                }
            </td>

        </tr>
    }



</table>



