@model IEnumerable<SUN2.Models.NewsFeedModel>
@{
    ViewBag.Title = "Newsfeed";

    //List<String> lehrstuhlName = ViewBag.lehrstuhlName;
}


<!-- CSS Einbindung-->
@Styles.Render("~/Content/css")
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


@{
    var zuordnung = ViewBag.zuordnung;
    var counter = 0;

    if (Request.IsAuthenticated)
    {


        foreach (var item in Model)
        {

            if (counter == 0)
            {
                <div id="GruppenPlatzhalter"></div>
                <h2 style="text-align:center">
                    SUN - Newsfeed
                </h2>
                <h5 style="text-align:center">Hier findest Du alle Einträge Deiner Gruppen und abonnierten Lehrstühle</h5>
                <div id="GruppenPlatzhalter"></div>
                counter++;
            }



            <div id="GruppenBeitragGesamt">


                <div id="GruppenHead">
                    <div id="GruppenPostName">
                        @{
                            if (zuordnung != null)
                            {
                                foreach (var person in zuordnung)
                                {
                                    if (person.name == item.autor)
                                    {
                                        <a href="@Url.Action("Details", "Person", new { id = person.id }, null)">
                                            @Html.DisplayFor(model => item.autor)
                                        </a>
                                        break;
                                    }
                                }
                            }

                        }
                    </div>
                    <br />
                    
                    <div>@Html.DisplayFor(modelItem => item.datum.Day).@Html.DisplayFor(modelItem => item.datum.Month).@Html.DisplayFor(modelItem => item.datum.Year) </div>
                    

                    <div id="GruppenEdit">



                        @{
                            if (item.typ == "g")
                            {


                                var verant = ViewBag.verantwortlich;
                                var aut = ViewBag.autor;

                                if (verant[item.entityid] == true || aut[item.id] == true || User.IsInRole("Admin"))
                                {

                                    <a href="@Url.Action("Edit", "GruppenEintraege", new { id = item.id })" class="btn btn-primary" title="Bearbeiten">
                                        <i class='fas fa-edit'></i>
                                    </a>
                                    // @Html.ActionLink("Eintrag bearbeiten", "Edit", "GruppenEintraege", new { id = item.id }, null) <a>|</a>
                                    // @Html.ActionLink("Eintrag löschen", "Delete", "GruppenEintraege", new { id = item.id }, null) <a>|</a>
                                    <a href="@Url.Action("Delete", "GruppenEintraege", new { id = item.id })" class="btn btn-primary" title="Löschen">
                                        <i class='fas fa-trash-alt'></i>
                                    </a>

                                }


                                //@Html.ActionLink("Zur Gruppe", "Index", "GruppenEintraege", new { gruppenid = item.entityid }, null)
                                <a href="@Url.Action("Index", "GruppenEintraege", new { gruppenid = item.entityid }, null)" class="btn btn-primary" title="Gruppe">
                                    <i class='fa fa-users'></i>
                                </a>
                            }
                            else
                            {
                                var lverant = ViewBag.lverantwortlich;
                                var laut = ViewBag.lautor;

                                if (lverant[item.entityid] == true || laut[item.id] == true || User.IsInRole("Admin"))
                                {


                                    <a href="@Url.Action("Edit", "LehrstuhlEintraege", new { id = item.id }, null)" class="btn btn-primary" title="Bearbeiten">
                                        <i class='fas fa-edit'></i>
                                    </a>
                                    <a href="@Url.Action("Delete", "LehrstuhlEintraege", new { id = item.id }, null)" class="btn btn-primary" title="Löschen">
                                        <i class='fas fa-trash-alt'></i>
                                    </a>
                                }

                                <a href="@Url.Action("Index", "LehrstuhlEintraege", new { lehrstuhlid = item.entityid }, null)" class="btn btn-primary" title="Lehrstuhl">
                                    <i class='fa fa-users'></i>
                                </a>
                            }
                        }

                    </div>

                </div>

                <div id="GruppenInhalt">
                    @Html.DisplayFor(modelItem => item.inhalt)
                </div>



                <div id="GruppenLabelsRahmen">




                    @if (item.label1 != null && item.label1 != "")
                    {
                        
                            <button type="button" class="btn btn-info">#@item.label1</button>
                        
                    }
                    else
                    {
                    }

                    @if (item.label2 != null && item.label2 != "")
                    {
                        
                            <button type="button" class="btn btn-info">#@Html.DisplayFor(modelItem => item.label2)</button>
                        }
                    @if (item.label3 != null && item.label3 != "")
                    {
                        
                            <button type="button" class="btn btn-info">#@Html.DisplayFor(modelItem => item.label3)</button>
                        }
                    @if (item.label4 != null && item.label4 != "")
                    {
                        
                            <button type="button" class="btn btn-info">#@Html.DisplayFor(modelItem => item.label4)</button>
                       }
                    @if (item.label5 != null && item.label5 != "")
                    {
                        
                            <button type="button" class="btn btn-info">#@Html.DisplayFor(modelItem => item.label5)</button>
                        }

                </div>



                @*<div id="GruppenPlatzhalter"></div>*@


            </div>





        }
    }

}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
<script>

</script>

