@model IEnumerable<SUN2.Models.NewsFeedModel>
@{
    ViewBag.Title = "Newsfeed";

    //List<String> lehrstuhlName = ViewBag.lehrstuhlName;
}

@{  var zuordnung = ViewBag.zuordnung; }

    <div class="row">
        <div class="col-md-8 jumbotron" style="margin:5px; width:100%; min-height:800px;">
            <h4>Newsfeed</h4>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.inhalt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.autor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.datum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.label1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.label2)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.label3)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.label4)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.label5)
                    </th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.inhalt)
                        </td>
                        <td>
                            @{
                                if (zuordnung != null)
                                {
                                    foreach (var person in zuordnung)
                                    {
                                        if (person.name == item.autor)
                                        {
                                            <a href="@Url.Action("Details", "Person", new { id = person.id }, null)">
                                                @Html.DisplayFor(model => item.autor)
                                            </a>
                                            break;
                                        }
                                    }
                                }

                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.datum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.label1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.label2)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.label3)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.label4)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.label5)
                        </td>
                        <td>
                            @{
                                if (item.typ == "g")
                                {
                                    @Html.ActionLink("Zur Gruppe", "Index", "GruppenEintraege", new { gruppenid = item.entityid }, null)
                                }
                                else
                                {
                                    @Html.ActionLink("Zum Lehrstuhl", "Index", "LehrstuhlEintraege", new { lehrstuhlid = item.entityid }, null)
                                }
                            }

                        </td>
                    </tr>
                }

            </table>

            </div>

        </div>

        <!--
        <div class="col-md-5 jumbotron" style="width:39%;">
            <p>Erstmal ausgelagert.</p>

        </div>
        -->
