@model SUN2.Models.ChangePasswordViewModel
@Styles.Render("~/Content/css")


@{
    ViewBag.Title = "Kennwort ändern";
}



@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div id="Anlegen-box">
        <h2> Kennwort ändern</h2>
        <hr />

        @Html.ValidationSummary("", new { @class = "text-danger" })


        @Html.PasswordFor(m => m.OldPassword, new { @placeholder = "Altes Passwort" })



        @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "Neues Passwort" })



        @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Neues Passwort" })


        <br />
        <br />

        <input type="submit" value="Ändern" class="button" style="width: 100%; max-width: 100%">

    </div>

    <div>
        @Html.ActionLink("Zum Newsfeed", "Index", "Home", null, new { @class = "btn btn-primary" })
    </div>



}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}