@model SUN2.Models.Gruppe
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Neue Gruppe";
}

@if (Request.IsAuthenticated)
{


    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()



    <div id="Anlegen-box">
        <h2 style="text-align:center">Neue Gruppe</h2>
        <br />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @Html.EditorFor(model => model.bezeichnung, new { htmlAttributes = new { @placeholder = "Bezeichnung" } })
        @Html.ValidationMessageFor(model => model.bezeichnung, "", new { @class = "text-danger" })


        @Html.EditorFor(model => model.beschreibung, new { htmlAttributes = new { @placeholder = "Beschreibung" } })
        @Html.ValidationMessageFor(model => model.beschreibung, "", new { @class = "text-danger" })

      
   
        @Html.DropDownListFor(model => model.privat, new List<SelectListItem>() { new SelectListItem() { Text = "Privat", Value = "True" }, new SelectListItem() { Text = "Öffentlich", Value = "False" } })
        @Html.ValidationMessageFor(model => model.privat, "", new { @class = "text-danger" })

        <br />
        <br />


        <input type="submit" value="Anlegen" class="button">



    </div>

    }

    <div style="text-align: center">
        @Html.ActionLink("Zurück", "Index", null, new { @class = "btn btn-primary" })
    </div>

}
else
{
    Response.Redirect("/Error/NotLoggedIn");
}
