<!--

    Diese View wird nicht verwendet.
    Alle Details stehen auf der Index-Seite.

    Bitte drinlassen!



-->


@model SUN2.Models.Gruppe

@{
    ViewBag.Title = "Details";
}

@if (Request.IsAuthenticated)
{
    <h2>Details</h2>

    <div>
        <h4>Gruppe</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.bezeichnung)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bezeichnung)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.beschreibung)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.beschreibung)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.verantwortlicher)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.verantwortlicher)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.privat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.privat)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.gruppenid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

}
else
{
    Response.Redirect("/Error/NotLoggedIn");
}