@model SUN2.Models.LehrstuhlEintraege
@Styles.Render("~/Content/css")
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

@{
    ViewBag.Title = "Eintrag für Lehrstuhl";
}
@if (Request.IsAuthenticated)
{
    <br />
    <h2 style="text-align: center">Eintrag für Lehrstuhl erstellen</h2>

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.autor)
        @Html.HiddenFor(model => model.datum)
        @Html.HiddenFor(model => model.lehrstuhlid)

        <div id="wrapper">

            <label>Beitrag</label>
            @Html.EditorFor(model => model.inhalt, new { htmlAttributes = new { id = "userKommentar", placeholder = "Schreibe hier einen Beitrag. Beachte, dass die Mindesttextlänge 15 Zeichen beträgt." } })
            @Html.ValidationMessageFor(model => model.inhalt, "", new { @class = "text-danger" })


            <hr />

            <div id="Tag">
                @Html.EditorFor(model => model.label1, new { htmlAttributes = new { placeholder = "Label 1" } })
                @Html.ValidationMessageFor(model => model.label1, "", new { @class = "text-danger" })

            </div>


            <div id="Tag">
                @Html.EditorFor(model => model.label2, new { htmlAttributes = new { placeholder = "Label 2" } })
                @Html.ValidationMessageFor(model => model.label2, "", new { @class = "text-danger" })

            </div>

            <div id="Tag">
                @Html.EditorFor(model => model.label3, new { htmlAttributes = new { placeholder = "Label 3" } })
                @Html.ValidationMessageFor(model => model.label3, "", new { @class = "text-danger" })
            </div>

            <div id="Tag">

                @Html.EditorFor(model => model.label4, new { htmlAttributes = new { placeholder = "Label 4" } })
                @Html.ValidationMessageFor(model => model.label4, "", new { @class = "text-danger" })
            </div>
            <div id="Tag">

                @Html.EditorFor(model => model.label5, new { htmlAttributes = new { placeholder = "Label 5" } })
                @Html.ValidationMessageFor(model => model.label5, "", new { @class = "text-danger" })
            </div>

            <br />


            <input type="submit" id="submit" value="Speichern" class="btn btn-primary" />

        </div>
    }
}
else
{
    Response.Redirect("/Error/NotLoggedIn");
}
@Html.ActionLink("Zurück", "Index", "LehrstuhlEintraege", new { lehrstuhlid = Model.lehrstuhlid }, null)