@model SUN2.Models.LehrstuhlEintraege
@Styles.Render("~/Content/css")

@{
    ViewBag.Title = "Lehrstuhleintrag bearbeiten";
}

@if (Request.IsAuthenticated)
{

    <h2 style="text-align: center; margin-top: 5%">Lehrstuhleintrag bearbeiten</h2>

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.autor)
            @Html.HiddenFor(model => model.lehrstuhlid)
            @Html.HiddenFor(model => model.datum)
        </div>


        <div id="wrapper">

            <label>Beitrag</label>
            @Html.EditorFor(model => model.inhalt, new { htmlAttributes = new { id = "userKommentar", placeholder = "Write your comment here. You can Edit and Delete options. Just Hover in Your comment, you see the both buttons" } })
            @Html.ValidationMessageFor(model => model.inhalt, "", new { @class = "text-danger" })


            <hr />

            <div id="Tag">
                @Html.EditorFor(model => model.label1, new { htmlAttributes = new { placeholder = "Label 1" } })
                @Html.ValidationMessageFor(model => model.label1, "", new { @class = "text-danger" })

            </div>


            <div id="Tag">
                @Html.EditorFor(model => model.label2, new { htmlAttributes = new { placeholder = "Label 2" } })
                @Html.ValidationMessageFor(model => model.label2, "", new { @class = "text-danger" })

            </div>

            <div id="Tag">
                @Html.EditorFor(model => model.label3, new { htmlAttributes = new { placeholder = "Label 3" } })
                @Html.ValidationMessageFor(model => model.label3, "", new { @class = "text-danger" })
            </div>

            <div id="Tag">

                @Html.EditorFor(model => model.label4, new { htmlAttributes = new { placeholder = "Label 4" } })
                @Html.ValidationMessageFor(model => model.label4, "", new { @class = "text-danger" })
            </div>
            <div id="Tag">

                @Html.EditorFor(model => model.label5, new { htmlAttributes = new { placeholder = "Label 5" } })
                @Html.ValidationMessageFor(model => model.label5, "", new { @class = "text-danger" })
            </div>

            <br />


            <input class="btn btn-primary" type="submit" id="submit" value="Speichern" />

        </div>
    }


    @Html.ActionLink("Zurück", "Index", "LehrstuhlEintraege", new { lehrstuhlid = Model.lehrstuhlid }, null, new {@class = "btn btn-primary"})
}
else
{
    Response.Redirect("/Error/NotLoggedIn");
}
