@model IEnumerable<SUN2.Models.LehrstuhlEintraege>

@{
    ViewBag.Title = "Index";
}

@{ var zuordnung = ViewBag.zuordnung; }

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.inhalt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.label1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.label2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.label3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.label4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.label5)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.inhalt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.label1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.label2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.label3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.label4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.label5)
            </td>
            <td>
                @{
                    if (zuordnung != null)
                    {
                        foreach (var person in zuordnung)
                        {
                            if (person.name == item.autor)
                            {
                                <a href="@Url.Action("Details", "Person", new { id = person.id }, null)">
                                    @Html.DisplayFor(model => item.autor)
                                </a>
                                break;
                            }
                        }

                    }

                }
            </td>
            <td>
                @{
                    var verant = ViewBag.verantwortlich;
                    var aut = ViewBag.autor;

                    if (verant[item.lehrstuhlid] == true || aut[item.id] == true || User.IsInRole("Admin"))
                    {

                        @Html.ActionLink("Edit", "Edit", new { id = item.id }); <p>|</p>
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    }
                }
             </td >
 </tr>
                    }
</table>

<div>
    <input type="button" value="Zurück" onclick="window.history.back()" />
    @Html.ActionLink("Alle Lehrstühle", "Index", "Lehrstuhl")
</div>
