@model SUN2.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vorname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.persinfos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.persinfos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matnr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hsemester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hsemester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fsemester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fsemester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studienbeginn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studienbeginn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studiengang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studiengang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studienfach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studienfach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
