@model SUN2.Models.Person
@Styles.Render("~/Content/css")
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



<div id="defaultInput-box">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="header"><h2>Mein Profil bearbeiten</h2></div>

        <p id="defaultLabel">
            Beschreibe dich selber
        </p>
        @Html.TextAreaFor(model => model.persinfos, new { htmlAttributes = new { @placeholder = "Beschreibe dich selbst.", @rows = 100, @cols = 200 } })

        @Html.ValidationMessageFor(model => model.persinfos, "", new { @class = "text-danger" })

        <hr />

        <p id="defaultLabel" style="text-align: center">
            Persönliche Daten
        </p>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @placeholder = "Name" } })
        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })

        @Html.EditorFor(model => model.vorname, new { htmlAttributes = new { @placeholder = "Vorname" } })
        @Html.ValidationMessageFor(model => model.vorname, "", new { @class = "text-danger" })


        @Html.EditorFor(model => model.matnr, new { htmlAttributes = new { @id = "editor", @placeholder = "Matrikel-Nr." } })
        @Html.ValidationMessageFor(model => model.matnr, "", new { @class = "text-danger" })


        <br />
        @Html.EditorFor(model => model.hsemester, new { htmlAttributes = new { @id = "editor", @placeholder = "Hochschulsemster" } })
        @Html.ValidationMessageFor(model => model.hsemester, "", new { @class = "text-danger" })

        <br />

        @Html.EditorFor(model => model.fsemester, new { htmlAttributes = new { @id = "editor", @placeholder = "Fachsemster" } })
        @Html.ValidationMessageFor(model => model.fsemester, "", new { @class = "text-danger" })

        <br />
        @Html.EditorFor(model => model.studienbeginn, new { htmlAttributes = new { @id = "editor", @placeholder = "Studienbeginn" } })

        <br />
        @Html.DropDownListFor(
        model => model.studienbeginn,
        new SelectList(new List<Object>
        {
            new { value = 0 , text = "Wintersemester 2019"  },
            new { value = 1 , text = "Sommersemester 2019" },
            new { value = 2 , text = "Wintersemester 2018"}
            },
            "value",
            "text",
            Model.studienbeginn
            )
            )

 
        @Html.EditorFor(model => model.studiengang, new { htmlAttributes = new { @placeholder = "Studiengang" } })
        @Html.ValidationMessageFor(model => model.studiengang, "", new { @class = "text-danger" })


        @Html.EditorFor(model => model.studienfach, new { htmlAttributes = new { @placeholder = "Studienfach" } })
        @Html.ValidationMessageFor(model => model.studienfach, "", new { @class = "text-danger" })


        <input type="submit" value="Save" class="button">


    }
</div>
    @{
        if (ViewBag.Message != null)
        {
            <span>@ViewBag.Message</span>
        }
    }



<script>

    //For auto resize Textarea
    var textarea = document.querySelector('textarea');
    textarea.addEventListener('keydown', autosize);
             
    function autosize(){
      var el = this;
      setTimeout(function(){
        el.style.cssText = 'height:auto; padding:0';
        el.style.cssText = 'height:' + el.scrollHeight + 'px';
      },0);
    }

</script>




    @*<div style="text-align: center">
        @Html.ActionLink("Back to List", "Index")
    </div>*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
