@model IEnumerable<SUN2.Models.Person>
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Administration";
}

@if (Request.IsAuthenticated)
{

    <br />
    <div id="ListHeader">
        <h2>Alle Profile verwalten</h2>
    </div>


    <div id="ListContainer">

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.vorname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.matnr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hsemester)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fsemester)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.studienbeginn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.studiengang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.studienfach)
                </th>
                <th style="color: #007BA8">
                    E-Mail (Username)
                </th>
                <th></th>
            </tr>




            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vorname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.matnr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hsemester)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fsemester)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.studienbeginn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.studiengang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.studienfach)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
                    </td>
                    <td>
                        @Html.ActionLink("bearbeiten", "Edit", new { id = item.id }) |
                        @Html.ActionLink("löschen", "Delete", new { id = item.id })
                    </td>
                </tr>



            }
        </table>
    </div>
}
else
{
    Response.Redirect("/Error/NotLoggedIn");
}
