@model IEnumerable<SUN2.Models.GruppenEintraege>

@{
    ViewBag.Title = "Übersicht aller Gruppeneinträge";
}

<!-- CSS Einbindung-->
@Styles.Render("~/Content/css")
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

@if (Request.IsAuthenticated)
{
    if (!Model.Any()) // keine einträge vorhanden
    {



        <br /><br /><br /><br /><br /><br />
        <h3 style="color:black">Leider sind noch keine Beiträge angelegt worden.</h3>

    }
    else
    {
        var zuordnung = ViewBag.zuordnung;
        var bezeichnung = ViewBag.bezeichnung;
        var counter = 0;

        foreach (var item in Model)
        {

            if (counter == 0)
            {
                <div id="GruppenPlatzhalter"></div>
                <h2 style="text-align:center">
                    Gruppe:
                    @bezeichnung <!-- bei inkonstenten testdaten wird hier nichts angezeigt !-->
                </h2>

                <a href="@Url.Action("Create", "GruppenEintraege", new { gruppenid = item.gruppenid }, null)" class="btn btn-primary">
                    Neuen Eintrag erstellen
                </a>

                <div id="GruppenPlatzhalter"></div>
                counter++;
            }

            <div id="GruppenBeitragGesamt">


                <div id="GruppenHead">
                    <div id="GruppenPostName">
                        @{
                            if (zuordnung != null)
                            {
                                foreach (var person in zuordnung)
                                {
                                    if (person.name == item.autor)
                                    {
                                        <a class="linkTest" href="@Url.Action("Details", "Person", new { id = person.id }, null)">
                                            @Html.DisplayFor(model => item.autor)
                                        </a>
                                        break;
                                    }
                                }
                            }

                        }
                    </div>

                    <div>@Html.DisplayFor(modelItem => item.datum.Day).@Html.DisplayFor(modelItem => item.datum.Month).@Html.DisplayFor(modelItem => item.datum.Year) </div>
                    <div id="GruppenEdit">

                        @{
                            var verant = ViewBag.verantwortlich;
                            var aut = ViewBag.autor;


                            if (verant != null && aut != null)
                            {



                                if (verant[item.gruppenid] == true || aut[item.id] == true || User.IsInRole("Admin"))
                                {

                                    <a href="@Url.Action("Edit", "GruppenEintraege", new { id = item.id })" class="btn btn-primary" title="Bearbeiten">
                                        <i class='fas fa-edit'></i>
                                    </a>
                                    // @Html.ActionLink("Eintrag bearbeiten", "Edit", "GruppenEintraege", new { id = item.id }, null) <a>|</a>
                                    // @Html.ActionLink("Eintrag löschen", "Delete", "GruppenEintraege", new { id = item.id }, null) <a>|</a>
                                    <a href="@Url.Action("Delete", "GruppenEintraege", new { id = item.id })" class="btn btn-primary" title="Löschen">
                                        <i class='fas fa-trash-alt'></i>
                                    </a>

                                }
                            }

                            //@Html.ActionLink("Zur Gruppe", "Index", "GruppenEintraege", new { gruppenid = item.entityid }, null)
                            <a href="@Url.Action("Index", "GruppenEintraege", new { gruppenid = item.gruppenid }, null)" class="btn btn-primary" title="Gruppe">
                                <i class='fa fa-users'></i>
                            </a>
                        }
                    </div>

                </div>

                <div id="GruppenInhalt">
                    @Html.DisplayFor(modelItem => item.inhalt)
                </div>



                <div id="GruppenLabelsRahmen">

                    @if (item.label1 != null && item.label1 != "")
                    {

                        <a class="btn btn-info" href="@Url.Action("Search", "Home", new { searchstr = item.label1 }, null)">#@item.label1</a>

                    }
                    else
                    {
                    }

                    @if (item.label2 != null && item.label2 != "")
                    {

                        <a class="btn btn-info" href="@Url.Action("Search", "Home", new { searchstr = item.label2 }, null)">#@item.label2</a>
                    }
                    @if (item.label3 != null && item.label3 != "")
                    {

                        <a class="btn btn-info" href="@Url.Action("Search", "Home", new { searchstr = item.label3 }, null)">#@item.label3</a>
                    }
                    @if (item.label4 != null && item.label4 != "")
                    {

                        <a class="btn btn-info" href="@Url.Action("Search", "Home", new { searchstr = item.label4 }, null)">#@item.label4</a>
                    }
                    @if (item.label5 != null && item.label5 != "")
                    {

                        <a class="btn btn-info" href="@Url.Action("Search", "Home", new { searchstr = item.label5 }, null)">#@item.label5</a>
                    }
                </div>

                <div id="GruppenPlatzhalter"></div>

            </div>
        }
    }

    <hr />

    <div class="form-group">
        <div class="col-md-10">
            <br />
            <br />
            @Html.ActionLink("Alle Gruppen anzeigen", "Index", "Gruppe", null, new { @class = "btn btn-primary" })
          
                @Html.ActionLink("Zum Newsfeed", "Index", "Home", null, new { @class = "btn btn-primary" })
          <br />
            <br />
        </div>
    </div>

}
else
{
    Response.Redirect("/Error/NotLoggedIn");
}