@model IEnumerable<SUN2.Models.GruppenEintraege>

@{
    ViewBag.Title = "Übersicht aller Gruppeneinträge";
}

<!-- CSS Einbindung-->
@Styles.Render("~/Content/css")
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



@{
    var zuordnung = ViewBag.zuordnung;
    var counter = 0;

    foreach (var item in Model)
    {

        if (counter == 0)
        {
            <div id="GruppenPlatzhalter"></div>
            <h2 style="text-align:center">
                Gruppe:
                @Html.DisplayFor(modelItem => item.gruppenid)
                <!-- Funktioniert für einzelne Gruppen wirft aber Fehler bei allen !-->
            </h2>
            <div id="GruppenPlatzhalter"></div>
            counter++;
        }


<div id="GruppenBeitragGesamt">


    <div id="GruppenHead">
        <div id="GruppenPostName">
            @{
                if (zuordnung != null)
                {
                    foreach (var person in zuordnung)
                    {
                        if (person.name == item.autor)
                        {
                            <a href="@Url.Action("Details", "Person", new { id = person.id }, null)">
                                @Html.DisplayFor(model => item.autor)
                            </a>
                            break;
                        }
                    }
                }

            }
        </div>

        @Html.DisplayFor(modelItem => item.datum)
        <div id="GruppenEdit">
            @Html.ActionLink("Eintrag bearbeiten", "Edit", new { id = item.id }) |
            @Html.ActionLink("Eintrag löschen", "Delete", new { id = item.id })
        </div>

    </div>

    <div id="GruppenInhalt">
        @Html.DisplayFor(modelItem => item.inhalt)
    </div>



    <div id="GruppenLabelsRahmen">

        <div id="GruppenLabels">
            @Html.DisplayFor(modelItem => item.label1)
        </div>
        <div id="GruppenLabels">@Html.DisplayFor(modelItem => item.label2)</div>
        <div id="GruppenLabels">@Html.DisplayFor(modelItem => item.label3)</div>
        <div id="GruppenLabels">@Html.DisplayFor(modelItem => item.label4)</div>
        <div id="GruppenLabels">@Html.DisplayFor(modelItem => item.label5)</div>
    </div>



    <div id="GruppenPlatzhalter"></div>
  

</div>





    }
}

</table>

@Html.ActionLink("Zurück zu allen Gruppen", "Index", "Gruppe")
