@model SUN2.Models.Lehrstuhl
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Delete";
}

@if (Request.IsAuthenticated)
{
   
    <div id="delteDialog">
    


        <h2>Löschen</h2>

        <h1>Delete your account?</h1>
       




        <h3>Möchten Sie wirklich den Lehrstuhl "@Html.DisplayFor(model => model.bezeichnung)" löschen?</h3>

        <dl class="dl-horizontal"></dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()



            <div class="form-actions no-color">
                <input type="submit" value="Löschen" class="btn btn-default" /> |

                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>


    @Html.ActionLink("Back to List", "Index")



}
else
{
    Response.Redirect("/Error/NotLoggedIn");
}
