@model IEnumerable<SUN2.Models.Lehrstuhl>

@{
    ViewBag.Title = "Alle Lehrstühle";
}

@{ var zuordnung = ViewBag.zuordnung; }
<head>
    <style>
        .btn-primary {
            background-color: black;
        }

            .btn-primary:hover {
                background-color: darkorange;
            }
    </style>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
</head>

<br />
<h2>Übersicht aller Lehrstuhlseiten</h2>

<p>
    @Html.ActionLink("Neuen Lehrstuhl anlegen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bezeichnung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beschreibung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.verantwortlicher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.privat)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bezeichnung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.beschreibung)
            </td>
            <td>
                @{
                    if (zuordnung != null)
                    {
                        foreach (var person in zuordnung)
                        {
                            if (person.name == item.verantwortlicher)
                            {
                                <a href="@Url.Action("Details", "Person", new { id = person.id }, null)">
                                    @Html.DisplayFor(model => item.verantwortlicher)
                                </a>
                                break;
                            }
                        }
                    }

                }
            </td>
            <td>
                @{
                    if (item.privat == true)
                    {
                        <i class='fa fa-eye-slash'> privat</i>
                    }
                    else
                    {
                        <i class='fa fa-eye'> öffentlich</i>
                    }
                }

            </td>
            <td>

                @{
                    var verant = ViewBag.verantwortlich;

                    if (verant[item.lehrstuhlid] == true || User.IsInRole("Admin"))
                    {

                        <a href="@Url.Action("Edit", "Lehrstuhl", new { id = item.lehrstuhlid })" class="btn btn-primary" title="Bearbeiten">
                            <i class='fas fa-edit'></i>
                        </a>
                        <a href="@Url.Action("Delete", "Lehrstuhl", new { id = item.lehrstuhlid })" class="btn btn-primary" title="Löschen">
                            <i class='fas fa-trash-alt'></i>
                        </a>


                        <a href="@Url.Action("Index", "MitarbeiterLehrstuhl", new { lehrstuhlid = item.lehrstuhlid }, null)" class="btn btn-primary" title="Mitarbeiter anzeigen">
                            <i class='fa fa-users'></i>
                        </a>


                        <a href="@Url.Action("Add", "MitarbeiterLehrstuhl", new { lehrstuhlid = item.lehrstuhlid }, null)" class="btn btn-primary" title="Mitarbeiter hinzufühgen">
                            <i class='fa fa-user-plus'></i>
                        </a>
                        }
                    }


                    @{
                        var mit = ViewBag.mitarbeiter;

                        if (mit[item.lehrstuhlid] == true || verant[item.lehrstuhlid] == true || User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Create", "LehrstuhlEintraege", new { lehrstuhlid = item.lehrstuhlid }, null)" class="btn btn-primary" title="Neuer Eintrag">
                                <i class='fa fa-plus'></i>
                            </a>
                        }



                            <a href="@Url.Action("Index", "LehrstuhlEintraege", new { lehrstuhlid = item.lehrstuhlid }, null)" class="btn btn-primary" title="Einträge Anzeigen">
                                <i class='fa fa-list'></i>
                            </a>

                        }



                            <!-- hier müssen wir gucken, ob der Lehrstuhl bereits abonniert ist -> ViewBag.abos -->
                            @{
                                var aboexist = false;
                                foreach (var abo in ViewBag.abos)
                                {
                                    if (abo.lehrstuhlid == item.lehrstuhlid)
                                    {
                                        //@Html.ActionLink("deabonnieren", "Deabo", "AbonnentenLehrstuhl", new { lehrstuhlid = item.lehrstuhlid }, null)
                                        aboexist = true;

                                        <a href="@Url.Action("Deabo", "AbonnentenLehrstuhl", new { lehrstuhlid = item.lehrstuhlid }, null )" class="btn btn-primary" title="Deabonieren">
                                            <i class='fa fa-thumbs-down'></i>
                                        </a>
                                    }
                                }

                                if (!aboexist)
                                {
                                    // @Html.ActionLink("abonnieren", "Abo", "AbonnentenLehrstuhl", new { lehrstuhlid = item.lehrstuhlid }, null)

                                    <a href="@Url.Action("Abo", "AbonnentenLehrstuhl", new { lehrstuhlid = item.lehrstuhlid }, null )" class="btn btn-primary" title="Abonieren">
                                        <i class='fa fa-thumbs-up'></i>
                                    </a>
                                }

                            }



                        </td>
        </tr>
    }

</table>
