@model IEnumerable<SUN2.Models.Lehrstuhl>

@{
    ViewBag.Title = "Alle Lehrstühle";
}

<h2>Übersicht aller Lehrstuhlseiten</h2>

<p>
    @Html.ActionLink("Neuen Lehrstuhl anlegen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bezeichnung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beschreibung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.verantwortlicher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.privat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.bezeichnung)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.beschreibung)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.verantwortlicher)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.privat)
    </td>
    <td>
        @Html.ActionLink("Bearbeiten", "Edit", new { id = item.lehrstuhlid }) |
        @Html.ActionLink("Löschen", "Delete", new { id = item.lehrstuhlid }) |
        @Html.ActionLink("Neuer Eintrag", "Create", "LehrstuhlEintraege", new { lehrstuhlid = item.lehrstuhlid }, null) |
        @Html.ActionLink("Einträge anzeigen", "Index", "LehrstuhlEintraege", new { lehrstuhlid = item.lehrstuhlid }, null) |
        @Html.ActionLink("Mitarbeiter anzeigen", "Index", "MitarbeiterLehrstuhl", new { lehrstuhlid = item.lehrstuhlid }, null) |
        @Html.ActionLink("Mitarbeiter hinzufügen", "Add", "MitarbeiterLehrstuhl", new { lehrstuhlid = item.lehrstuhlid }, null) |

        <!-- hier müssen wir gucken, ob der Lehrstuhl bereits abonniert ist -> ViewBag.abos -->
        @{
            var aboexist = false;
            foreach (var abo in ViewBag.abos)
            {
                if (abo.lehrstuhlid == item.lehrstuhlid)
                {
                    @Html.ActionLink("deabonnieren", "Deabo", "AbonnentenLehrstuhl", new { lehrstuhlid = item.lehrstuhlid }, null)
                    aboexist = true;
                }
            }

            if (!aboexist)
            {
                @Html.ActionLink("abonnieren", "Abo", "AbonnentenLehrstuhl", new { lehrstuhlid = item.lehrstuhlid }, null)
            }

        }
     


    </td>
</tr>
}

</table>
