<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Soziales Uni Netzwerk</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using Microsoft.AspNet.Identity
 


</head>
<body>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/CSS/styles.css" />
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">


            <div class="navbar-header">
                <!--
                    Der Button und die drei span's machen den Header responsive. Wenn man das
                    Fenster zusammschiebt erscheinen rechts oben drei horizontale Balken. Dafür sind die
                    die nächsten Zeilen Code verantwortlich.
                -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--
                    Das Icon welches links oben angezeigt wird.
                -->
                @*@Html.ActionLink("SUN", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="@Url.Action("Index", "Home")"><img src="~/Images/SUNhubMedium.png" height="50" /></a>
            </div>


            <div class="navbar-collapse collapse">
                <!--
                    Alles was in der Navigation Bar stehen soll muss in diesen
                     div Container.
                -->

                <ul class="nav navbar-nav">



                    <!--
        Hier wird geprüft, ob der User angemeldet ist.
    Alles was innerhalb der if-Abfrage steht wird erst angezeigt,
    wenn der User angemeldet ist.
    -->
                    @if (Request.IsAuthenticated)
                    {
                        @Html.AntiForgeryToken()
                        <!-- <li>@Html.ActionLink("Startseite", "Index", "Home")</li> -->
                        <!-- <li>@Html.ActionLink("Informationen", "About", "Home")</li> -->
                        <!-- <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li> -->
                        @*<li class="nav-item">@Html.ActionLink("Profil bearbeiten", "EditMe", "Person")</li>*@



                        <li class="nav-item">@Html.ActionLink("Abos & Mitgliedschaften", "AbonniertMitglied", "Home")</li>
                        <li class="nav-item">@Html.ActionLink("Alle Lehrstühle", "Index", "Lehrstuhl")</li>
                        <li class="nav-item">@Html.ActionLink("Alle Gruppen", "Index", "Gruppe")</li>
                        <li class="nav-item">
                            <input class="form-control Feld" type="text" name="suche" id="suche" placeholder="Was suchst Du?" onsubmit="search()">
                        </li>

                        <li class="nav-item">
                        <li id="Lupe" class="fas fa-search" onclick="search()">

                        </li>


                        </li>
 
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>


        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <!--<hr />-->
        <footer>
            <p>&copy; @DateTime.Now.Year - SUN</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

<script>
    function search() {
 
        var s = document.getElementById("suche").value;

        window.location.href = '/Home/Search?searchstr=' + s;

    }
</script>


</html>






