@model SUN2.Models.PersonAddGruppeModel

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@Html.HiddenFor(model => model.gruppenid)
@Html.HiddenFor(model => model.id)
@Html.HiddenFor(model => model.name)
@Html.HiddenFor(model => model.vorname)
@Html.HiddenFor(model => model.email)


<p>
    Diese Person zur Gruppe hinzufügen?
</p>

<dd>
    User ID: @Html.DisplayFor(model => model.id)
</dd>
<dd>
    Name:  @Html.DisplayFor(model => model.name)
</dd>
<dd>
    Vorname: @Html.DisplayFor(model => model.vorname)
</dd>
<dd>
    E-Mail: @Html.DisplayFor(model => model.email)
</dd>
<dd>
    Gruppe: @Html.DisplayFor(model => model.gruppenid)
</dd>



<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</div>


@Html.ActionLink("Back to List", "Index")

